*{
    margin: 0px;
    padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
}



.hero{
    height: 800px;
    background-image: 
        linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.6)),
        url("https://images.hotukdeals.com/threads/thread_large/default/3175420_1.jpg");

    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0 150px;
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin-left: 10px;
  
    

}


.hero-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading1{
    font-size: 56px;
    font-weight: 900;
    color: white;
}

.heading1 pre{
    font-size: 56px;
    text-align: center;
    color: white;
    font-weight: 1000;
    justify-content: center;
    align-items: center;

    .heading1{
    font-size: 56px;
    font-weight: 900;
    color: white;
}
}

.heading2{
    color: white;
    font-size: 20px;
     justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 20px;
    }

.heading3{
        color: white;
    font-size: 16px;
     justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.start{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    color: white;
}

.email{
    width: 367px;
    height: 56px;
    padding-left: 15px;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.5);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    
}
.Gstart{
    height: 56px;
    padding: 0 25px;
    background-color: #e50914;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.trending{
    background-color: black;
    height: 2160px;
    
    padding: 70px 0px
}

.content1{

    display: flex;
    gap: 40px;
    justify-content: center;
}

.box{
    width: 210px;
    height: 290px;
    border-radius: 9px;
    border: 1px solid black;
    }



.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.now{
    color: white;
    font-size: 35px;
    margin-left: 160px;
    margin-bottom: 20px;
    
}

.reasons{
    color: white;
    padding-left: 160px;
    padding-top: 80px;
    font-size: 26px;

}
.content2{
    
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
}
.b{
    width: 280px;
    height: 268px;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid black;
        background: linear-gradient(
        135deg,
        #1f1c2c,
        #2a1a4f,
        #3b0f70
    );

    box-shadow: 0 8px 25px rgba(0,0,0,0.6);
}
    

.b p{
    color: white;
    font-size: 20px;
    padding-top: 10px;
    font-weight: 900;
    padding-left: 10px;
    margin-bottom: 15px;
}

.b a{
    color: white;
    margin-top: 5px;
    font-size: 16px;
    }

    .faq{
        color: white;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-top: 100px;
        font-size: 25px;
        align-items: flex-start;
        padding-left: 160px;
       
    }
    .faq:hover {
    color: white;                  
}

.faq p{
    text-align: left;
    
}

.r1,.r2,.r3,.r4,.r5{
   width: 1216px; 
   height: 84px;
   background-color: #2D2D2D;
   border: 1px solid black;
   align-items: center;
   margin-top: 20px;
   padding: 5px;
   padding-left: 20px;
}

.r1:hover{
background-color: #414141;
transition: 0.2s;
}

.r2:hover{
background-color: #414141;
transition: 0.2s;
}
.r3:hover{
background-color: #414141;
transition: 0.2s;
}
.r4:hover{
background-color: #414141;
transition: 0.2s;
}
.r5:hover{
background-color: #414141;
transition: 0.2s;
}




   .footer{
    margin-top: 100px;
   }

   .footer .email{
    width: 568px;
   }

   .questions{
    color: white;
    margin-top: 100px;
    padding-left: 150px;
   }

.foot-panel {
    display: flex;                 
    justify-content: space-evenly; 
    flex-wrap: wrap;               
    max-width: 1400px;
    margin-top: 50px;
}

.foot-panel ul {
    list-style: none;              
    padding: 0;
}

.foot-panel li {
    margin-bottom: 10px;           /
}

.foot-panel a {
    text-decoration: none;         
    color: #757575;                
    font-size: 14px;
    transition: color 0.3s;
}

.foot-panel a:hover {
    color: white;                  
}

.signin{
    position: absolute;
    top: 40px;
    right: 150px;
    display: flex;
    
}


.language{
    background-color: rgba(0, 0, 0, 0.504);
    color: white;
    border: 1px solid gray;
    margin-top: 0px;
    text-align: center;
    padding: 0;
    width: 100px;
    margin-right: 10px;
}
.Gsign{
    
    color: white;
    border-radius: 4px;  
    height: 37px;
    width: 100px;
    margin-top: 0px;
    background-color: #e50914;
    
}

html, body{
    margin: 0;
    padding: 0;
}
